@model DoAnQLSV.Models.SINHVIEN

@{
    ViewBag.Title = "Thongtincanhan";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<head>
    <title>Thông tin cá nhân</title>
    <style>
        table, th, td {
            border: 2px solid #E98303;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;    
        }
    </style>
</head>
<h2 align="center" style="font-family: cursive ; color: darkorange">THÔNG TIN SINH VIÊN</h2>
<body>
    <div class="banner-box">
        <div class="wrap">
            <div class="main-top">
                <div class="main">
                    <table style="width: 100%">
                        <tr>
                            <th  style="background-color: #E98303; color: aliceblue">Họ và tên:</th>
                            <td style="font-weight: bold">@Html.DisplayFor(model => model.TenSV)</td>
                        </tr>
                        <tr>
                            <th>Giới tính:</th>
                            <td style="font-weight: bold">@Html.DisplayFor(model => model.GioiTinh)</td>
                        </tr>
                        <tr>
                            <th style="background-color: #E98303; color: aliceblue">Ngày tháng năm sinh:</th>
                            <td style="font-weight: bold">@Html.DisplayFor(model => model.NgaySinh)</td>
                        </tr>
                        <tr>
                            <th>Quê quán:</th>
                            <td style="font-weight: bold">@Html.DisplayFor(model => model.QueQuan)</td>
                        </tr>
                        <tr>
                            <th style="background-color: #E98303; color: aliceblue">Chuyên ngành:</th>
                            <td style="font-weight: bold">@Html.DisplayFor(model => model.ChuyenNganh)</td>
                        </tr>
                        <tr>
                            <th>Số điện thoại:</th>
                            <td style="font-weight: bold">@Html.DisplayFor(model => model.SDT)</td>
                        </tr>
                        <tr>
                            <th style="background-color: #E98303; color: aliceblue">Chứng minh thư:</th>
                            <td style="font-weight: bold">@Html.DisplayFor(model => model.CMND)</td>
                        </tr>
                        <tr>
                            <th>Nơi thường trú:</th>
                            <td style="font-weight: bold">@Html.DisplayFor(model => model.NoiThuongTru)</td>
                        </tr>
                        <tr>
                            <th style="background-color: #E98303; color: aliceblue">Mã Khoa:</th>
                            <td style="font-weight: bold">@Html.DisplayFor(model => model.MaKhoa)</td>
                        </tr>
                        <tr>
                            <th>Tên Khoa:</th>
                            <td style="font-weight: bold">@Html.DisplayFor(model => model.KHOA.TenKhoa)</td>
                        </tr>
                        <tr>
                            <th style="background-color: #E98303; color: aliceblue">Mã Khóa học:</th>
                            <td style="font-weight: bold">@Html.DisplayFor(model => model.MaKhoaHoc)</td>
                        </tr>
                        <tr>
                            <th>Tên niên khóa:</th>
                            <td style="font-weight: bold">@Html.DisplayFor(model => model.KHOAHOC.TenKhoaHoc)</td>
                        </tr>              
                        <tr>
                            <th style="background-color: #E98303; color: aliceblue">Mã Lớp:</th>
                            <td style="font-weight: bold">@Html.DisplayFor(model => model.MaLop)</td>
                        </tr>
                        <tr>
                            <th>Tên lớp:</th>
                            <td style="font-weight: bold">@Html.DisplayFor(model => model.LOP.TenLop)</td>
                        </tr>
                        <tr>
                            <th colspan="2" style="text-align: center"> <p>
                                @Html.ActionLink("Thay đổi thông tin cá nhân", "Edit", new { id = Model.MaSV }) 
                   
                            </p></th>
                        </tr>
                    </table>
                </div>
               
            </div>
        </div>

    </div>

</body>


